<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 
<suite guice-stage="DEVELOPMENT" name="Zoom2u suite"> 
  <test verbose="2" name="Zoom2u test" parallel="none" preserve-order="true"> 
    <classes> 
       <class name="Test.GetQuote_test"/>
       <class name="Test.GetQuote_Part2test"/>
      </classes>
    </test> <!-- Zoom2u test --> 
  </suite> <!-- Zoom2u suite --> 
